[2016-08-31 17:54] philliphoff opened #1 "[ClientHttp] Error when selecting Web Services tab with large data sets"
The Glimpse Client shows error when selecting Web Services tab:

[code]

This application makes a large number of web service calls.  The Debug tab appears to show the responses containing a `duration` property.

[2016-09-15 18:15] lostintangent opened #17 "[Response] The Connection and Date response headers aren't being displayed"
**Repro Steps:**
1. Generate a request for a document (it might impact AJAX requests as well, but I didn't test that)
2. Within the Glimpse client, select the request entry you just generated
3. Look at the response headers

**Expected:** To see a `Connection` and `Date` header, which confirmed in both Chrome DevTools are Fiddler are actually present present.

![fiddler](https://cloud.githubuserco

[2016-09-15 18:33] lostintangent opened #20 "[Client] Deep links don't appear to be reusable (?)"
**Repro Steps:**
1. Select a request entry within the Glimpse client
2. Copy the current URL from the browser's address bar
3. Open a new browser tab and paste the URL into it

**Expected:** To be navigated to the exact request that the URL points to
**Actual:** I get the following error, and have to navigate back to `/glimpse/client` and find the request again (in Chrome).

`Cannot GET /glimpse/c

[2016-09-15 18:39] lostintangent opened #21 "[Client] Request list doesn't appear populated in IE/Edge"
**Repro steps:**
1. Open up the Glimpse client in IE or Edge

**Expected:** To see the list of requests
**Actual:** The client UI appears, but the request list is empty

The client works perfectly in Chrome, so the issue appears to be limited to IE/Edge. When I open up the dev tools, there is an error in the console, so maybe the databinding logic doesn't work currently in IE/Edge?

![error](https

[2016-09-15 22:42] lostintangent opened #26 "[Web Services] http.get\request calls not showing up"
**Update (9/15/2016 - 4:48 PM):** I updated to the new `glimpse-node` umbrella package, and the `NaN` issue displayed below is fixed, but I still don't see the actual service call in the list.

---

**Repro steps:**
1. Add a call to `http.get` (or `http.request`, or any "higher-level" library which uses them under the covers) within one of your app's routes.
3. Run the app in order to exercise the

[2016-09-15 22:49] lostintangent opened #27 "[Web Services] The presence of 2+ service calls generates a "red screen of death""
**Repro Steps:**
1. Add two or more web service calls to one of your app's routes
2. Run your app to exercise the above route/web service calls
3. Open up the Glimpse client and select the respective request
4. Select the `Web Services` tab

**Expected:** To see the list of web service calls
**Actual:** I get a React red screen of death

![rsod](https://cloud.githubusercontent.com/assets/116461/18

[2016-09-16 19:36] chetsangnil opened #41 "[UX] Date in Overview section doesn't show date"
"Date" in overview section only shows time. Please take a look into this.

[2016-09-20 20:31] jasonyueyang opened #58 "[UX] Selecting HOST makes HUD disappear"
When hovering on the HOST section using Chrome, the HUD from the background disappears. This happens when the browser window is reduced. The problem seems to go away when the window is maximized.

![image](https://cloud.githubusercontent.com/assets/5600301/18687607/c09ac63c-7f35-11e6-8880-476fe0dec828.png)

The expected behavior should be similar to when AJAX is selected:

![image](https://cloud.g

[2016-09-27 16:45] jasonyueyang opened #61 "HUD does not show up for react starter kit"
HUD is not shown with this repo https://github.com/kriasoft/react-starter-kit.

[2016-09-28 15:49] philliphoff opened #64 "[HUD] Incorrect link to launch Glimpse Client"
In certain scenarios (e.g. using Glimpse with the React-Starter-Kit), the HUD is shown but the link to launch the Client is incorrect (e.g. missing the metadata URI query parameter).

This is because the injected script-tag attributes are not always properly encoded/decoded. For example, we inject { and } due to our use of URI Templates and these sometimes show up in the browser as %7b and %7d. Be

[2016-09-28 21:38] nikmd23 opened #66 "The package '@glimpse/glimpse-node-common' was imported before Glimpse was initialized."
I followed these steps:
1. First I set the @glimpse registry and installed @glimpse/glimpse-node
2. Then I require and `init()` Glimpse
3. I get this warning in the console.

![image](https://cloud.githubusercontent.com/assets/199026/18933293/b99d2e78-8599-11e6-96ed-169099c3a764.png)

In addition, HUD is not rendered, but does seem to work after a refresh.

[2016-09-30 19:38] avanderhoorn opened #69 "[Safari] Introduce support/get it working"
Currently the client is badly broken in Safari. This task to to discover the extent to which things are broken and start fixing them. If things are going to take longer than the 15hrs allotted the work should be broken up and reestimated.

[2016-10-03 16:02] jasonyueyang opened #70 "HUD not working for repos that don't use Express"
Today we rely on Express to inject the HUD script. For projects that don't use Express, HUD doesn't work.

One example of such project is https://github.com/pencilblue/pencilblue (https://pencilblue.org/), a content management system and blogging platform for Node.js.

To support this, we might need to use lower level APIs to inject the script tag.

[2016-10-03 16:12] jasonyueyang opened #71 "Client tabs missing for Pencilblue"
For https://github.com/pencilblue/pencilblue, client doesn't work from /glimpse/client. This could be due to the fact that pencilblue doesn't use Express.

Repro steps:
- Run`npm install @glimpse/glimpse-node --save`
- Add following to pencilblue.js:
  `var glimpse = require('@glimpse/glimpse-node');`
  `glimpse.init();`
- launch `mongod`
- run `nodemon pencilblue`
- goto `localhost:8080` to use t

[2016-11-23 02:04] chetsangnil opened #83 "[Considering Feature] Pending request section in the request list panel"
Some requests takes long time to get rendered in Glimpse or some never get rendered at all. Currently there is no way for users to know of what's going on with those pending to render requests.

Consider adding a separate section in the request list panel showing these info.

[2017-01-07 00:07] nikmd23 opened #85 "New Release! Glimpse 0.16.4"
# Happy New Year!

The Glimpse team hopes you had a wonderful holiday break and wishes you a prosperous new year. We'd also like to make sure it's a little easier for you to develop web applications in 2017, so we keep on improving Glimpse and we're ready to share with you the next release:

## 0.16.4 Request Tab

Glimpse for Node 0.16.4 includes a new feature, the Request Tab. Glimpse's Request T

[2017-02-07 19:08] nikmd23 opened #86 "New Release! Glimpse 0.17.5"
# Turning up the Signal

Hello all! The Glimpse team continues to make progress on Glimpse for Node, and today I'm happy to announce the release of 0.17.5. This release is focused on a major new feature: the Timeline Tab!

## 0.17.5 Timeline Tab

Glimpse's Timeline Tab is a request specific *logical* profiler. It works similarly to other CPU profilers you may have seen in the past, but instead of

[2017-03-21 19:42] nikmd23 opened #93 "New Release! Glimpse 0.18.9"
# It's All About Services

Hello all! The Glimpse team is really beginning to hit a groove with Glimpse for Node, and today I'm happy to announce the release of 0.18.9. Like the last release, this release is focused on a major new feature: the Services Tab!

## 0.18.9 Services Tab

Glimpse's Services Tab provides you with a view of all the service calls happening in your app, from both the browser

[2017-04-21 16:01] christophersw opened #94 "Website and API in different projects"
Our [team](https://www.shieldmyfiles.com/team/) would like to use glimpse on a [big project](https://app.shieldmyfiles.com) we are working on, but are facing some confusion on how to get it up and running... The challenge stems from the fact that we separate our front-end website and our backend APIs into individual projects (NPM packages) managed as individual repositories. We do this to make the

[2017-05-08 15:47] AdriVanHoudt opened #95 "[HAPI] Can't set headers after they are sent"
I'm getting this error on trying glimpse out.
Using node 7.10.0 on latests mac but the cause is probably the usage of hapi

[code]

[2017-05-08 15:49] mike-kaufman commented on #95
Thanks Adri - can you point us to a sample project where we can reproduce this?

[2017-05-08 19:38] AdriVanHoudt commented on #95
I tested this with the company server project which does a bunch of stuff but let me see what I can do

[2017-05-08 19:59] AdriVanHoudt commented on #95
This gist (https://gist.github.com/AdriVanHoudt/616f7fdcd4c9334e742c6fd8b705dfd1) results in the error when going to the url that Glimpse prints.

I think this has to do with Glimpse trying to run on the same uri and port as the server and hapi routing blocks this since the Glimpse route is not registered in hapi's routing table and thus gives a 404.

I hopes this helps, I know hapi is not officia

[2017-05-08 20:02] mike-kaufman commented on #95
great, thanks for the repro Adri!  Our intention with Hapi is that we don't yet provide deep insights (e.g., understanding middleware pipeline), but we'd like for basics to work.  I'll take a quick look at what's going on.

[2017-05-08 20:28] AdriVanHoudt commented on #95
Yeah I didn't expect that either since it is not 'supported' but I thought it would just plug into the http module :P if I can help with any hapi related stuff/questions please do let me know!

[2017-05-08 20:50] nikmd23 commented on #95
Thanks for submitting this issue @AdriVanHoudt.

Since you mentioned that your willing to answer Hapi related questions, I'd love to take you up on it - though this probably isn't the right place. Would you mind shooting me an email? nik.molnar@microsoft.com

[2017-05-08 20:58] AdriVanHoudt commented on #95
@nikmd23 if these are general question feel free to open an issue over at https://github.com/hapijs/discuss/issues (some even more knowledgeable people can help answer there ;) )
otherwise shoot questions at adri@salesflare.com

[2017-05-09 00:47] atrauzzi opened #96 "[Typescript] Definitions"
Added the new nodejs edition of glimpse, but didn't get any type information for my TS based project.  Would love to see some added along with the project so that my imports are strongly typed!

[2017-05-09 05:01] avanderhoorn commented on #96
Great point. Are you thinking predominantly for the config options that we provide?

[2017-05-09 10:19] atrauzzi commented on #96
Yeah, at the very least.  I don't know if there's more beyond that, but so long as that's there, I can incorporate it as part of my framework when it's run on browsers.

[2017-05-09 16:29] BlueHatbRit opened #97 "Glimpse seems to error when application errors are thrown (but handled)"
I just threw this into an app I'm working on to see how it goes so this isn't mission critical to me but it has meant I can't start using the package properly.

It seems Glimpse will error out when errors are thrown in the system (my app and dependencies) even if they're caught. Right now I have a piece of code which uses Bookshelf.js, I'm running the fetch command and the query is returning nothi

[2017-05-09 16:32] mike-kaufman commented on #97
Thanks for reporting this @BlueHatbRit, and sorry you're having problems.  Can you give us the full stack trace?  Or better yet, any chance you can point us at a project where this repros?

[2017-05-09 16:44] BlueHatbRit commented on #97
Hi @mike-kaufman, I've attached a full stack trace below. It obviously includes a bunch of lines from my code so I'm going to spend some time this evening recreating it in a clean project for you guys but it might take a while.

This top level "EmptyResponse" error is thrown by [Bookshelf](http://bookshelfjs.org), however it is also handled by bookshelf further down in their code. If you've not us

[2017-05-09 16:52] mike-kaufman commented on #97
Thanks @BlueHatbRit, are you seeing any error messages?  Or is it just that `CustomError: EmptyResponse`?

A slimmed-down repro would be fantastic if you can get one together.

[2017-05-09 17:04] nikmd23 commented on #97
We appreciate your help tracking down this issue @BlueHatRit!

[2017-05-09 18:41] BlueHatbRit commented on #97
@mike-kaufman I've just had a look at the raw error I'm getting come into my error handler and it's exactly what I've put above. The error message seems to be the one being thrown by Bookshelf. It's almost as if something is interrupting Bookshelf once it's thrown the error for some reason.

[2017-05-09 19:16] mike-kaufman commented on #97
OK, I have a little bookshelf app running that repros this problem.  I'll investigate what is happening & update the issue.

[2017-05-09 20:14] BlueHatbRit commented on #97
Ah fantastic, sorry I didn't get it to you first it's evening here in the UK so I've been doing it alongside other things for a few hours. Glad you can reproduce the issue, I thought for ages that I was going insane!

[2017-05-10 06:00] julianfrank opened #98 "Cannot set property of 'action' error"
I have a normal Express app and I included this line as per your website instructions
[code]
Now when I try to open my app it shows this error
[code]

- The version of Node that you are experiencing the problem on.
Node v7.9.0
Express v4.15.2

I'm on Windows 10 Edge ...Same problem on chrome too

[2017-05-10 06:13] avanderhoorn commented on #98
@julianfrank Thanks for sending through the report! Are you doing anything in your express pipeline that might be considered "unusual" or packages that might be in the pipeline that the typical scenarios mightn't have?

[2017-05-10 09:07] bonesoul opened #99 "Unsupported stack frame format found"
node 7.10.0
win10 - x64

my code;
`if (process.env.NODE_ENV !== 'production') { require('@glimpse/glimpse').init(); }`

getting luts of errors like;

[code]

[2017-05-10 12:48] #1 closed

[2017-05-10 12:50] #26 closed

[2017-05-10 12:50] #27 closed

[2017-05-10 12:52] #41 closed

[2017-05-10 12:54] #58 closed

[2017-05-10 12:54] #61 closed

[2017-05-10 12:54] #64 closed

[2017-05-10 12:55] #66 closed

[2017-05-10 12:55] #69 closed

[2017-05-10 12:58] nikmd23 commented on #70
This is now supported with manual injection. The process is documented at http://node.getglimpse.com/docs/setup/getting-started/#how-do-i-manually-inject-the-abbr-title-heads-up-display-hud-abbr-and-browser-agent-into-my-site

[2017-05-10 12:58] #70 closed

[2017-05-10 12:59] #71 closed

[2017-05-10 13:00] #83 closed

[2017-05-10 14:28] mike-kaufman commented on #99
Thanks for reporting this @bonesoul. We'll take a look and hopefully get a fix quickly.  Note that while this looks like a lot of errors, Glimpse should still be working, the only thing impacted  is our ability to display source code locations where certain events occur (e.g., where middleware is registered, where log statements are made, or where http client calls occur)

[2017-05-10 14:32] bonesoul commented on #99
i can't get glimpse working as the huge amount of errors slows down my application, i can not even boot it.

[2017-05-10 14:48] mike-kaufman commented on #99
sorry to hear that. :(.  Is your application public by chance so that I can take a look?

[2017-05-10 15:03] bonesoul commented on #99
it's a private repository but i can help you with the information you need.

[2017-05-10 15:13] mike-kaufman commented on #99
Thanks @bonesoul.  I don't understand why your stack frames are formatted as  `- next_tick.js:109 process._tickCallback`.  Are you using some library that changes the format of stacks?

When I this code in win 10/node 7.10.0:

[code]

I see this output:

[code]

which is very different from the stack frames reported in those error messages.

Can you send me the output on your machine from above co

[2017-05-10 18:26] julianfrank commented on #98
Lots actually...I've got the whole std parsers,helmet, and socket io....It is not a simple app....

[2017-05-10 18:37] mike-kaufman commented on #98
From looking at the code, we've lost context for some reason.  @julianfrank - any chance you can get us some code that repros this so we can dig deeper?

[2017-05-10 19:55] philliphoff commented on #95
@AdriVanHoudt: I've submitted a PR intended to resolve some of the issues found when using Glimpse with Hapi; we'll let you know when it works its way into an upcoming release.

[2017-05-10 22:22] avanderhoorn commented on #95
To provide an update... for those interested, here are some technical details on the issue from @philliphoff:

As @philliphoff said, patch is going through, PR and testing atm.

[2017-05-11 05:25] AdriVanHoudt commented on #95
👌 could you link the PR, curious to take a look ^^

[2017-05-11 20:44] philliphoff commented on #95
The repo for the actual Glimpse Node agent/server package is currently private, unfortunately.

[2017-05-11 20:55] AdriVanHoudt commented on #95
ah np, looking forward to try it!

[2017-05-11 23:07] avanderhoorn commented on #97
@BlueHatbRit we think we have a fix for this. With the repro we have been able to produce, it looks like BlueBird is the culprit. Specifically, for Glimpse to function we need to flow context across async boundaries, and it looks like you ran into a case we hasn't accounted for. We are currently testing our fix and should hopefully have the release out soon.

[2017-05-11 23:08] avanderhoorn commented on #96
The next release we put out (which should be in the next few days) will have the fix for this.

[2017-05-12 08:32] BlueHatbRit commented on #97
Hi @avanderhoorn, thanks for the update. I'm glad you guys think you've got a fix for it, do let me know if there's anything you'd like me to test on my end. Is there any rough ETA for when this fix might be released?

[2017-05-12 09:33] davidkpiano commented on #97
@BlueHatbRit As far as I know, this is scheduled for the next release in a couple weeks (give or take).

[2017-05-12 09:39] BlueHatbRit commented on #97
@davidkpiano damn it'll miss my deadline but I'm sure it'll be useful for other projects. Thanks!

[2017-05-12 09:40] davidkpiano commented on #97
It might be sooner! I'll have to verify with @avanderhoorn.

[2017-05-12 11:41] okoala opened #100 "[Koa] Unblock application startup"
Koa is very awesome，so i want you to support it.

[2017-05-12 12:16] davidkpiano commented on #100
There are no current official plans to support Koa, but having support for other popular Node.JS frameworks, such as Hapi and Koa, is definitely within consideration in the future. At the very least, we would like to provide basic insights for any Node.JS framework (such as capturing `http` calls, etc.).

What deep insights would you like to see in Koa?

[2017-05-12 14:29] qwert789 opened #101 "Enable requests & logs filtering"
Not an issue, rather a feature request, please enable a way to filter requests (like in chrome devtools),
it's a mandatory feature for both requests and logs.
![filter](https://cloud.githubusercontent.com/assets/1618071/26002523/91ff746a-3738-11e7-93d0-b07dc137d9b6.JPG)

Thanks.

[2017-05-12 14:52] nikmd23 commented on #101
Thanks for the request @qwerty789!

Request filtering is something we've been exploring. I'd love to know a bit more about what, why and how you'd like to filter requests.

As far as log filtering goes, I've got the same question: what, why and how would you like to filter? But also, I'm interested in knowing a bit more about your usage of the current logs filters. Do you find them useful?

[2017-05-12 16:29] philliphoff commented on #100
[Some changes are in the pipeline](#95) to make Glimpse work better with non-Express frameworks, to at least capture some basic information, even while those frameworks may not be officially supported.  Those changes appear to play nice with both Hapi and Koa (at least in trivial apps).

We'll let you know when they're available and, by all means, let us know if Glimpse works in your application!

[2017-05-12 16:37] hardchor commented on #100
Koa support would be awesome, most of my private (and apps at work) use it. We're quite a sizeable team of node developers, and people seem to really like it

[2017-05-12 17:57] mike-kaufman commented on #99
Hi @bonesoul -

Could you answer these questions for me?

  1.  Are you using any packages that change the format of stack frames?
  2.  Can you send me the output from the following code:

[code]

[2017-05-13 12:25] crazyyi opened #102 "Does Glimpse support websocket packets capturing?"
I tried to view request/response sent via websockets using Glimpse. But I can't see any. My test environment doesn't even go forward as it used to be when I init Glimpse in my code. It will stop when it tries to send the first websocket packet. Does Glimpse support capturing websocket events? Glimpse is a great project. It has a friendly UI and is easy to use. But it is not very useful for me if i

[2017-05-13 13:12] nikmd23 commented on #102
Hello @crazyyi,

Glimpse does not currently provide diagnostic insights into web sockets, but we'd love to work with you more to understand how and why you're using websockets, and the problems you experience while doing so. Mind filling in some details covering how you're using websockets, what modules/libraries/frameworks you leverage and what you'd find helpful from Glimpse?

You also mention t

[2017-05-13 16:26] crazyyi commented on #102
Sure. I am just running a test environment using the `ws` and `socket.io` library. But my main goal is to use Glimpse to analyze the data on the wire when I run my browser game in websocket. Otherwise I have to rely on console logs on the browser which doesn't give me a very good experience.

[2017-05-13 21:35] avanderhoorn commented on #102
So given a magic wand, you are wanting to see the connection that has been established and the messages going back and forward? What in these messages are you looking to find information on?

[2017-05-14 05:00] crazyyi commented on #102
@avanderhoorn yes to see the established connection and debugging and profiling.

[2017-05-14 14:41] dcworldwide opened #103 "[Possible bug] Timeline not showing enough detail"
Amazing project thanks so much guys. I hope it continues to get support from ms.

I have a express node app that uses graphql and typeorm (to talk to postgres running on compose.io)

Unfortunately I don't see any trace information apart from my express router. I expected to see at the very least the http requests to compose.io.

Is there a configuration step i'm missing? Or is there a possible bug

[2017-05-14 18:40] nikmd23 commented on #103
If you're not seeing some HTTP requests, that sounds like a bug.

We've heard similar requests to trace database activity, and we are looking into it.

As far as the bug goes, can you provide us the steps to reproduce the issue? We'll gladly get it fixed once we can figure out the issue.

Thanks,
Nik

[2017-05-14 19:16] aautio opened #104 "[Filtering] Showing request with no `content-type`"
The troubleshooting documentation at http://node.getglimpse.com/docs/support/troubleshooting/#i-don-t-see-my-request-in-the-glimpse-client-request-history states that

`To reduce noise, the Glimpse client has a static filter that excludes certain requests from that list:
Requests for content other than documents (e.g. HTML or text) and data (e.g. JSON or XML)`

It seems that if a response does not

[2017-05-14 19:53] avanderhoorn commented on #104
The docs are correct... at the moment, if we don't have a `Content-Type` it wont show up in the request history list. This is only a temporary limitation, we plan to add filtering to the history list which will give you full control over what you see.

That said, I'm interested in the use case for why you have no `Content-Type`. Is it just because the request is so simple that you don't need it or

[2017-05-14 19:57] avanderhoorn commented on #102
Technically that should be doable. Whats your socket setup like? i.e. is it like a chat client where you have multiple channels going and routing messages between groups/user or is it more for "real time" updates/notifications to the use.

[2017-05-14 20:25] aautio commented on #104
I have some registration forms up and running where there is no need for any other feedback from the server than HTTP 200 OK. Thus there was no content-type in the responses.

But there actually is one another use case which might be problematic for Glimpse: dynamically generated images or "email tracking pixels" and so on. I'd guess that requests to an endpoint providing images will also be hidde

[2017-05-14 21:13] avanderhoorn commented on #104
Not at this exact moment. Out of curiosity... again trying to understand the use case, is there anything stopping you from returning a content type? Or do you feel that changes the semantics?

[2017-05-15 01:55] crazyyi commented on #102
@avanderhoorn It's real time MMO server-client browser game.

[2017-05-15 02:33] bonesoul commented on #99
[code]

[2017-05-15 03:31] avanderhoorn commented on #99
Just wondering, are you using any packages that change the format of stack frames?

[2017-05-15 07:33] krstffr opened #105 "Mongoose / MongoDB error (related to replica set maybe)?"
Just installed glimpse and tried running it in a very simple application, which basically does a .find on some Mongoose model, and it throws the error below.

**Update when looking deeper into this:** This only occurs when I connect to a replica set hosted on MongoDB Atlas though, not when running a single mogod on my own computer.

**Versions**
Mongoose: 4.9.9
Express: 4.15.2
Node: 6.10.3

[code]

[2017-05-15 09:12] bonesoul commented on #99
i'm not aware of any that makes changes, but i'm aware of ones that watch it actually, but they are already disabled;

 "@risingstack/trace": "3.10.0",
 "opbeat": "4.13.1",

additinoally i've packages that **may** depend on stack;

"debug": "2.6.6",
"http-errors": "1.6.1",
 "pretty-error": "2.1.0",

i'll be disabling them to see the outcome.

[2017-05-15 09:15] bonesoul commented on #99
found it; https://github.com/AriaMinaei/pretty-error is the offending package.

[2017-05-15 09:46] dcworldwide commented on #103
Thanks Nik,

Here's what I've found.

I'm using https://github.com/brianc/node-postgres, which uses node's TLS package to network with compose.io. So as it stands, glimpse won't trace my scenario.

Is there anything I can do to instrument specific libs so that glimpse can trace their events?

[2017-05-15 11:29] nikmd23 commented on #105
We apologize for the bug you've found, and thank you for the error report!

We'll get this fixed and a patch release out as soon as possible.

To aide in our efforts to reproduce this, can you verify the version of the mongodb package installed by Mongoose for us?

[2017-05-15 11:29] bonesoul opened #106 "Glimpse unexpected context value at location"
my setup;
node 7.10.0
express

i'm getting the error;

[code]

[2017-05-15 11:54] krstffr commented on #105
From my yarn.lock file:

[code]

[2017-05-15 15:32] mike-kaufman commented on #99
Thanks @bonesoul.  Given the [usage](https://www.npmjs.com/package/pretty-error) of pretty-error, we'll look into supporting parsing stack frame format produced by pretty-error.  Stay tuned.  Until we get support in, you could remove pretty-error & you shouldn't see those error messages any longer.

Also, we should have an  update out today that will chagne our error reporting logic such that we'l

[2017-05-15 15:44] mike-kaufman commented on #106
Thanks @bonesoul.  Is there any chance you can get us a small project that reporoduces this error?  It would be super helpful for us.

Some brief background: To correlate events to the correct http request requires that we propogate state across async call boundaries.  e.g., if you register an event handler on a request (`req.on('data', () => console.log('got some data'))`, we need to know which h

[2017-05-15 15:45] mike-kaufman commented on #105
Thanks for reporting this @krstffr.  Any chance you can get us a small project that reproduces the issue?  I'll take a quick look at our logic.   I thought our mongo DB instrumentation was turned off at the moment...

[2017-05-15 15:51] mike-kaufman commented on #103
@dcworldwide  - Thanks so much for reporting this.  Any chance you can get us a sample project that repros this issue?  This is probably the best way for us to figure out what isn't working.

[2017-05-15 16:15] Intellicode opened #107 "Cannot read property offset of undefined"
I'm using the following software:

Node 6.9.2
graphql-server-express 0.7.2
express 4.15.2
@glimpse/glimpse 0.20.8

The request is a graphql mutation, if it helps anything:

[code]

[2017-05-15 18:18] philliphoff commented on #107
Thanks for reporting this issue!  Do you see the error on every request, only on certain requests, or only intermittently with the same request?

If you happen to have (or can create) a small repro app that you can point me to, that'd be great.  Otherwise, I'll take a crack at creating one and trying to investigate how that error shows up.

[2017-05-15 20:08] aautio commented on #104
In my use case I can add the content-type 'json' to the responses without content-type.Thus get the request will be visible in Glimpse HUD.

Another way for me to get the requests to be visible in the HUD seems to be by adding `Accept: application/json` header to the request. I think this is an undocumented feature? It might be a good workaround if someone else has a similar problem but can't edit

[2017-05-15 20:36] mike-kaufman commented on #95
We just released a fix to npm in glimpse version v0.20.9 that addresses this issue.  If you're still having problems w/ hapi, please let us know!

Thanks!

[2017-05-15 20:36] #95 closed

[2017-05-15 20:38] mike-kaufman commented on #96
We just released v0.20.9 to npm.  This build includes the basic set of typescript definitions  (we'll have more as we expand out our public API, but we're not there just yet... :) ).

Thanks for reporting this. Please let us know if what you have any problems trying out the latest release.

[2017-05-15 20:38] #96 closed

[2017-05-15 20:40] mike-kaufman commented on #97
We just released v0.20.9 to npm.  This build includes a fix that should prevent the behavior you're seeing.  Please let us know if you discover other issues!

Thanks!

[2017-05-15 20:40] #97 closed

[2017-05-15 20:40] avanderhoorn commented on #100
We just released a fix to npm in glimpse version v0.20.9 that addresses this issue. If you're still having problems w/ koa, please let us know!

Note, this release doesn't include any specific insights into Koa itself, but I'd be interested to know what Koa specific insights you would like to see and what priority you would put on them if you had $100 to spend on getting them done - @hardchor @oko

[2017-05-15 20:41] mike-kaufman commented on #99
OK, v0.20.9 is now available on NPM.  This will limit the number of errors we output when we can't parse certain stacks, so your app should be usable even if you include pretty-error.

[2017-05-15 20:42] #100 closed

[2017-05-15 20:50] avanderhoorn commented on #104
Ya filtering is definitely coming. We are trying to get it in the next release but if not then the one after.

When you say that you would like to see the calls to the APIs built on top of `sharp`, are these web APIs? If we already support that use case... assuming node is running there to. Basically you will install just the `@glimpse/glimpse-agent-node` and configure it to point to the glimpse "

[2017-05-15 21:15] BlueHatbRit commented on #97
@mike-kaufman wonderful, thanks I'll give it a go!

[2017-05-15 22:26] BlueHatbRit commented on #97
@mike-kaufman I'm getting an error come up very frequently and I'm not sure if it's related as I'm using Bluebird as discussed above. It seems as if every HTTP request that should be logged to the console is generating one of these errors, except requests to the glimpse API.

## Error
[code]

## More full log sample

This is a full log sample of me loading up a few different pages around my applic

[2017-05-15 22:30] mike-kaufman commented on #97
Thanks for reporting this @BlueHatbRit.  Can you  open a new issue for this?  Also, if you could provide a repro that would be a great help to us.

[2017-05-15 22:37] BlueHatbRit opened #108 "UnexpectedContextValue Errors when using "redis""
I'm getting an error come up very frequently and I'm not sure if it's related as I'm using Bluebird as discussed above. It seems as if every HTTP request that should be logged to the console is generating one of these errors, except requests to the glimpse API.

Note: the history in the glipse UI seems to be coming through just fine.

## Error
[code]

## More full log sample

This is a full log sa

[2017-05-15 22:53] dcworldwide commented on #103
Sure,

For a minimal repo, or something you can quickly hack into an existing glimpse project that you may have, you can use the excerpts from https://github.com/brianc/node-postgres/wiki/Example. If you don't have an instance of postgres, you can create one for free at https://www.compose.com/ in a few minutes.

[2017-05-16 06:30] krstffr commented on #105
Hi @mike-kaufman, the problem though is that it works when using my local DB, but not when I'm using the MongoDB Atlas one, so I might be able to set up this testv app for you if you yourselves are willing to set up an Atlas DB account etc since I unfortunately can't lend you mine?

[2017-05-16 07:10] bonesoul commented on #99
great i'll give it a try

[2017-05-16 07:54] AdriVanHoudt commented on #95
I can confirm it is working now! (I had an ssl error but nothing special)
It does seem it does not handle gzip response data to well.
Also it seems to miss a bunch of analytics but I assume this is due to the basic hapi support for the moment

Thanks again for fixing this! 🔥

[2017-05-16 11:34] atrauzzi commented on #96
Thanks!

[2017-05-16 11:37] burkhardr commented on #100
Managed to get it running, thanks for that! http://node.getglimpse.com/docs/setup/getting-started/#how-do-i-manually-inject-the-abbr-title-heads-up-display-hud-abbr-and-browser-agent-into-my-site helped in getting the HUD working as well.

I've yet to try it out on a frontend app, but at first glance, the obvious one missing is support for koa middleware.

[2017-05-16 13:57] avanderhoorn commented on #100
@burkhardr Middleware is what I suspected would come up, anything else? Also we have a fix coming in the next release which should remove the need for any manual registration of HUD or the browser agent (except in cases where the front end is being served from non node processes - like a CDN). Did you also include the browser agent in your registration? That could explain some of the missing data.

[2017-05-16 14:11] avanderhoorn commented on #95
@AdriVanHoudt what is the SSL error you are seeing and what are you noticing around gzip responses? Are you seeing HUD embedded in your page? If not, until our next release (where you wont need to do this anymore) you can get HUD showing up by following this - http://node.getglimpse.com/docs/setup/getting-started/#how-do-i-manually-inject-the-abbr-title-heads-up-display-hud-abbr-and-browser-agent-

[2017-05-16 16:04] AdriVanHoudt commented on #95
The ssl thing was my own fault :D
Btw I'm running a pure API with hapi so no client

This is what I see in the response tab
https://puu.sh/vRS8F/e8726d1d22.png
https://puu.sh/vRS9P/203c658c39.png

What I mean by missing is that the middleware and resources are always empty
https://puu.sh/vRSaW/b23cdcf59e.png
and also some timing stuff
https://puu.sh/vRSer/7e4b39044d.png

I think just seeing the cu

[2017-05-16 16:54] YoannMa commented on #95
Got the same problem about the gzip not parsed.

One of my co-worker couldn't make it work with his own Hapi but I think it's something else, i'll investigate on it.

And about hapi specific insights, I feel like @AdriVanHoudt just seeing Glimpse works with Hapi without missing data would be awesome.

I don't use Hapi as a content delivery so I don't intend to use the embedded HUD.

I don't know i

[2017-05-16 17:07] avanderhoorn commented on #95
@YoannMa @AdriVanHoudt Thanks so much for the context!

Since your are predominantly used for serving data (i.e. web api's) some of Glimpse's features won't light up. Specifically the "Resources" section at the bottom of the "Request" tab and the "Detailed" timing info in the overview section. The former doesn't really make sense for a Web API and the later is because the server currently provides

[2017-05-16 17:34] YoannMa commented on #95
Well I understand better this feature `follow mode` and I agree with you that you can't know if it's a Web API or not, unless you specified it on the config, but it doesn't feel right I think to change the behavior of this feature if it's a Web API. It's just maybe that name/description wasn't explicit as first maybe (and as you said, not that well documented).

Now, is the feature "to follow the

[2017-05-16 17:37] philliphoff commented on #107
I tried this scenario using both a [pre-built sample](https://github.com/apollographql/frontpage-server) as well as one of my own, but wasn't able to reproduce the error you're seeing.  Any information about the circumstances under which you're seeing issues would be really helpful.  Thanks!

[2017-05-16 19:16] mike-kaufman commented on #108
Thanks @BlueHatbRit.  Let me know if you get a repro case.

[2017-05-16 19:18] mike-kaufman commented on #105
Thanks @krstffr.  I'll see if I can set up an atlas DB & repro this...

[2017-05-16 19:19] avanderhoorn commented on #102
Makes sense. What are the payloads like in this case, are they just plain old json objects or are they more complex?

[2017-05-16 19:59] aautio commented on #104
Sorry, english is not my natural language, so I might make things sound more complex than they are. Here is a demo about what is a problem for me: https://filteringdemo-softzvdluw.now.sh/

You can see full sources of that demo at https://filteringdemo-softzvdluw.now.sh/_src

There is an image generated on-the-fly with `sharp` if you'll access https://filteringdemo-softzvdluw.now.sh/image ... But y

[2017-05-16 20:42] firefoxNX commented on #98
@julianfrank can u make sure glimpse init code is the very first line in your app.js? Even before express.

[2017-05-16 20:55] avanderhoorn commented on #104
Not a worries and thanks for providing this! Filtering will definitely help with this case... will keep you updated as we make progress on that.

[2017-05-17 00:13] MatthiasWinkelmann opened #109 "Clarify License"
The tagline at [https://github.com/Glimpse/Home/issues/new](https://github.com/Glimpse/Home/issues/new) currently reads

yet the actual license at [https://github.com/Glimpse/Home/blob/master/license.md](https://github.com/Glimpse/Home/blob/master/license.md) (and, identically, in most of the other repositories) is not Open Source in any accepted definition of the term.

This is bound to create co

[2017-05-17 03:18] crazyyi commented on #102
message format can be json object or binary stream. The payloads depend on the number of connected clients. If there are 100 connected clients and each of them receives 10 messages per second then the server will be sending 1000+ messages out per second. The client also sends messages to the server very often.

[2017-05-17 04:33] avanderhoorn commented on #109
@matt4077 thanks for your feedback and questions. I'll post, this is a reposting on my comment on HN and on the GitHub issue for coverage and for anyone else wondering at this point in time (as the answer is likely to evolve in the future).

I totally agree that having public code in a repo on github that has a proprietary license leads to headaches, hence why we haven't done that. If you take the

[2017-05-17 06:39] krstffr commented on #105
Cool @mike-kaufman, thanks a lot!

[2017-05-17 07:24] AdriVanHoudt commented on #95
@avanderhoorn the resources and timing missing makes sense and 👍 on hiding when not relevant.
This still leaves the middleware tab. Are you patching express specific middleware?
I can give you some tracing examples which traces stuff like mysql and redis in general if you'd like. (Assuming this is what that section would show :P)

[2017-05-17 09:31] burkhardr commented on #100
Yes, I did include both snippets from the docs.

I just managed to test it out on a frontend app, and all the functionality (apart from middleware support) seems to be there. Nice tool!

[2017-05-17 14:31] YoannMa commented on #95
Hi again, I think I found out why my co-worker couldn't make it works with his Hapi, it was because of websocket, he uses https://github.com/sibartlett/hapi-io.

I didn't found any websocket in Glimpse so i don't know why it doesn't work.

[2017-05-17 20:12] mike-kaufman commented on #108
Hey @BlueHatbRit , wondering if you can try something out for me.  We have a new build on our "alpha feed".  It's early & hasn't been fully tested, but it has a change that *may* solve your errors.

To try it out, you'll need to do the following:

[code]

After the above, start your app with the following comand-line params:

[code]
npm run start -- --glimpse.contextmanager zones
[code]

[2017-05-17 20:33] BlueHatbRit commented on #108
Hi @mike-kaufman, sorry I've not been able to whip you up a repository which displays the issue. I'm in some final deadlines at university and I'm totally slammed.

I'll give this a go for you now and let you know how it goes!

[2017-05-17 20:56] BlueHatbRit commented on #108
@mike-kaufman I followed through the steps and managed to install 0.21.1 just fine, when starting up with:

[code]

I got the following stack trace when hitting my index page.

[code]

Now this seems to be something completely different coming from my express session handlers but the line causing an issue is `zone.js` which I'm assuming is to do with the `contextmanager` that was injected perhaps?

[2017-05-17 20:58] mike-kaufman commented on #108
Great, thanks @BlueHatbRit .  Do you still see those `UnexpectedContextValue`  errors?  Or did they all disappear?

/cc @philliphoff - FYI if this look familiar at all wrt hud/script injection?

[2017-05-17 21:01] BlueHatbRit commented on #108
@mike-kaufman I can't get that far as requesting any endpoint crashes the application before glimpse reports anything.

[2017-05-17 21:03] BlueHatbRit commented on #108
I'd be happy to provide you guys access to my project with a Vagrant environment if that would be useful to you.

[2017-05-17 21:28] Intellicode commented on #107
Sorry, I was at a conference for the past 2 days, but I'll try to see if I can pinpoint exactly what kind of request it was. Unfortuntately, our code base is not opensource, but maybe I can narrow it down to a small test case. I'll post an update as soon as I can!

[2017-05-17 21:36] mike-kaufman commented on #108
This would be great!  You can send mail to  <first>.<last>@microsoft.com.  Thanks!!!

[2017-05-18 02:55] atrauzzi opened #110 "Add support for node edition to work with hapi"
Hapi is fairly popular and has really good mindshare.  Would be a shame to not be able to use this with it!

[2017-05-18 03:32] avanderhoorn commented on #110
We have been having a discussion around HAPI support here - https://github.com/Glimpse/Home/issues/95. As of release of 0.20.9, we should be working with Hapi now... the only thing that you won't get is middleware insights. Its possible that we can light middleware but we are trying to understand more about what Hapi users would find really useful. Do you have any thoughts of what would be most va

[2017-05-18 06:40] azappa commented on #105
Got the same error too with compose.io (db got replica) using https://github.com/Automattic/monk.

[2017-05-18 08:35] BlueHatbRit commented on #108
@mike-kaufman I've added you to both repos and sent a full email which should get you going really quickly.

[2017-05-18 12:36] atrauzzi commented on #110
Ah yes, so it does appear to be working, I was making the mistake of not initializing glimpse before my first hapi import.  That's one item that I might suggest be improved if possible, I'll open a separate ticket for it.

Specific to hapi though, I'll spend some time with things although I suspect if you run down the feature list of what hapi as a framework offers, there may be more worth surfaci

[2017-05-18 12:44] atrauzzi opened #111 "Support being initialized after imports"
Fully acknowledging the way things are currently done with the node edition, I suggest that Glimpse be able to function without having to be initialized prior to subsequent imports (express, hapi, etc).

Specific to my own case, this has caused a bit of an issue with my application framework lifecycle which uses a dependency injection system and is service provider based.
If I want to integrate gl

[2017-05-18 12:50] atrauzzi commented on #110
As a follow-on, I'll edit my opening comment for this ticket with a list of things I come up with as I encounter them.

[2017-05-18 16:47] mike-kaufman commented on #107
@Intellicode  - From looking at our code here, it looks like what is happening is in your code, you're calling `response.end()` before calling `request.end()`.

Do you see any cases where this is occurring?  We obviously need to harden our code paths against this.

[2017-05-18 17:11] mike-kaufman commented on #108
@BlueHatbRit - thanks!  Looking into this now.

[2017-05-18 20:32] NilsFrkal opened #112 "[Loopback] support"
I tried to run glimpse together with Loopback framework. The client cannot establish a connection. It would be great if loopback support could be enabled. Best, Nils

[2017-05-18 21:48] Intellicode commented on #107
@mike-kaufman do you suspect our code to do this while making a request to an external service? We use basic express.js functionality to handle client requests/responses and a isomorphic-fetch library to perform requests to other services.

[2017-05-18 23:29] philliphoff commented on #112
Thanks for the feedback @NilsFrkal!  While we don't specifically support LoopBack, I agree that it would be great if Glimpse at least played nice with it.

I was able to identify a couple of issues related to how LoopBack dynamically registers middleware as well as how Glimpse deals with compressed (e.g. `gzip` encoded) responses that result in errors when using Glimpse with LoopBack.  I've submit

[2017-05-18 23:39] philliphoff commented on #111
Can you be a little more specific, @atrauzzi, about how you think Glimpse might interfere with the use of an IoC?  Even with an IoC, there should still be a single entry point from which Glimpse can be `require()`'d and initialized.  After that point, it shouldn't matter how/when other component's packages are `require()`'d as Glimpse instruments packages lazily.

(The reason Glimpse must be initi

[2017-05-19 00:19] NilsFrkal commented on #112
@philliphoff thanks a lot for the fast response. At this stage I would not have any loopback specific feedback. Once the standard glimpse functionality is enabled and I can start testing I will be more than happy to provide additional feedback.

[2017-05-19 00:21] atrauzzi commented on #111
My original thought was to do with module hoisting, optimization and just making sure no code has to be run before the module graph is complete.

This may or may not be an issue, but might merit consideration as the init call is a statement.

[2017-05-19 15:24] chriskinsman opened #113 "Glimpse breaks AWS-SDK S3 calls"
var AWS = require('aws-sdk');
var s3 = new AWS.S3({accessKeyId: config.AWSACCESSKEYID, secretAccessKey: config.AWSSECRETACCESSKEY, region: config.AWSREGION});

    s3.getObject({
            Bucket:bucket,
            Key: prefix + '/' + key
        }, function(err, data) {
--> Without glimpse installed data.body is a UInt8Array with a length that matches content.  With glimpse installed the array

[2017-05-19 15:55] mike-kaufman commented on #113
Thanks For reporting this @chriskinsman.  We'll look into it...

[2017-05-19 16:00] mike-kaufman commented on #107
So, from reading through our code, it looks like the only way to see that exception is when `response.end()` occurs before `request.end()` for a node `http.request()` call.  My guess is `isomorphic-fetch` is doing this for some reason.  If you have some stripped-down repro code, that'd be a great help.  If not, we'll try & replicate here.

[2017-05-19 16:54] philliphoff commented on #111
Feel free to give Glimpse a try in such a project and let us know if you run into any issues, as we definitely want Glimpse to work in as many scenarios as possible.  Otherwise, if you can point to a project with an IoC similar to yours, we can experiment with adding Glimpse to the project ourselves and see how it behaves.

[2017-05-19 16:59] philliphoff commented on #113
Thanks for submitting the issue, @chriskinsman!  We've been able to reproduce the problem and have a pretty good idea of what's happening; it looks like our interception of the response data for Glimpse reporting purposes is interfering with `aws-sdk`'s management of the response data.  We'll work on a fix and let you know when it's available in an upcoming release.

[2017-05-19 20:09] avanderhoorn commented on #110
This is great! Thanks @kizzlebot @atrauzzi

[2017-05-19 22:54] atrauzzi commented on #111
I think I'll be able to deliver that in a little bit. I'll close this ticket now and return later if possible with a repo link.

[2017-05-19 22:54] #111 closed

[2017-05-22 08:54] Intellicode commented on #107
I can confirm, it has something to do with isomorphic-fetch. If I comment out the code, it won't throw the error. However, I have not been able to reproduce it in a example repo yet. My guess is that it has something to do with apollo graphql as well.

[2017-05-22 09:06] Intellicode commented on #107
I managed to get a more interesting error, apparently our fetch call is failing because of glimpse:

[code]

(actual module names have been altered)

[2017-05-22 12:47] evanderkoogh commented on #107
I seem to having exactly the same problem:
We are using `node-fetch` directly which `isomorphic-fetch` is using as well. The error does not occur on pages where we do not make any requests. So I am relatively confident the issues is with `node-fetch` and/or `glimpse`.

They might be doing something wrong, but that's no reason for Glimpse to crash and burn at the very least ;)

[code]

[2017-05-22 17:50] #93 closed

[2017-05-22 17:51] #85 closed

[2017-05-22 17:51] #86 closed

[2017-05-22 19:34] mike-kaufman commented on #107
@Intellicode  -

For this:

[code]

In this case, what is in the array?

[2017-05-22 19:36] mike-kaufman commented on #107
@Intellicode , @evanderkoogh  -

For `TypeError: Cannot read property 'offset' of undefined` errors, I've got a fix for this, it should be out on npm early next week after we get the latest batch of changes tested & verified.

[2017-05-22 20:06] Intellicode commented on #107
@mike-kaufman, it contained `['application/json']

[2017-05-23 00:31] evanderkoogh commented on #107
No worries @mike-kaufman. If you want to throw a fix my way to test it let me know. More than happy to help out.

[2017-05-23 03:45] avanderhoorn commented on #113
It looks like we have a solution and are currently doing some testing to make sure we have gotten all the edge cases we can see. Hopefully this will get in the upcoming release. We will let you know how testing goes! Thanks again.

[2017-05-23 03:48] avanderhoorn commented on #112
It looks like we have a solution and are currently doing some testing to make sure we have gotten all the edge cases we can see. Hopefully this will get in the upcoming release. We will let you know how testing goes! Thanks again.

[2017-05-23 19:41] julianfrank commented on #98
Yes

[2017-05-24 18:58] avanderhoorn commented on #104
@davidkpiano can you confirm that this use case will be fixed with the work you have done?

[2017-05-24 22:33] davidkpiano commented on #104
Yes, in the next release, you will be able to see requests with no `content-type` by selecting the **Other** filter (not selected by default) 🎉

Also, your filter preferences will be persisted even if you close your browser, so you can have a consistent filter preference for all your debugging sessions (until you reset the filters).

[2017-05-25 21:02] japrescott commented on #108
I am on the latest node and latest express versions and am getting this problem as well, but not only for onResponseEnd but also for onResponseSend.
But: I am using cluster to start multiple child processes. Because I am using socket.io and a client always needs to talk to the same worker, I am also using sticky-sessions (https://socket.io/docs/using-multiple-nodes/) -> https://github.com/indutny/

[2017-05-25 21:30] davidkpiano commented on #17
Confirmed:
<img width="583" alt="screen shot 2017-05-25 at 5 29 15 pm" src="https://cloud.githubusercontent.com/assets/1093738/26471478/dc28c01e-416f-11e7-9f07-3d6610f9e47b.png">

[2017-05-26 20:14] mike-kaufman commented on #108
@BlueHatbRit - We think we've got your lost context issues fixed.  We should have a release up on npm late next week, or you can  try out the latest build on our alpha feed:

[code]
Then launch your app normally:

[code]

Let us know if you have any more lost context errors.

[2017-05-26 20:15] mike-kaufman opened #114 "Lost context reported using socket.io and/or sticky-session"
Issued forked from here:  https://github.com/Glimpse/Home/issues/108#issuecomment-304123640

But: I am using cluster to start multiple child processes. Because I am using socket.io and a client always needs to talk to the same worker, I am also using sticky-sessions (https://socket.io/docs/using-multiple-nodes/) -> https://github.com/indutny/sticky-session.
As this "hack" requires the master to li

[2017-05-26 20:18] mike-kaufman commented on #108
@japrescott - it's quite possible that your lost context errors are a different root cause than those reported by @BlueHatbRit.  I've opened #114 to track the issue you reported.

What's happening here is we need to track state across async code transitions, which means we need to effectively proxy these continuation points in lots of different client libraries.  We likely need to correctly proxy

[2017-05-30 23:59] mike-kaufman commented on #107
Fix should be coming out to npm a few days.   I tried to replicate this behavior w/ isomorphic fetch and I couldn't.

If you want to test a pre-release build from our alpha feed, you can do this:

npm config set @glimpse:registry=https://www.myget.org/F/g-alpha/npm/
npm install @glimpse/glimpse
npm ls @glimpse/glimpse # this should say v0.21.3 or higher.

[2017-05-31 08:49] Intellicode commented on #107
@mike-kaufman Seems to fix the issue (in my case), thanks!

[2017-05-31 12:51] evanderkoogh commented on #107
I will try to squeeze this in between jobs, but training for the next 2 days so probably won't be able to get it tested before the weekend. Will let you know what I find

[2017-05-31 15:40] mike-kaufman commented on #98
@julianfrank - we believe this error is fixed with our release coming up in a few days, or next monday at the latest.  If you'd like to try out a pre-release build to see if it addresses your issue, you can do the following:

[code]

[2017-05-31 19:08] BlueHatbRit commented on #108
@mike-kaufman I'll give this a go now and report back.

[2017-05-31 19:31] mike-kaufman commented on #112
verified build v021.3 works against this app: https://github.com/strongloop/loopback-getting-started.  Note that HUD isn't showing up because the response is compressed - we're tracking that with a seperate issue.

This will be available on npm in a few days.

[2017-05-31 19:41] BlueHatbRit commented on #108
@mike-kaufman these issues seem to be resolved now using `0.21.3` from the alpha channel. Thanks for all your work, I'll close the issue.

[2017-05-31 19:41] #108 closed

[2017-06-01 04:45] hbakhtiyor opened #115 "TypeError: Cannot assign to read only property 'createGzip' of object '#<Object>'"
Node: 8.0.0
@glimpse/glimpse: 0.20.9

Getting error when i just start app.

[code]

[2017-06-01 13:00] julianfrank commented on #98
I tried the steps and it only updated to @glimpse/glimpse@0.20.9 and not c0.21.3!

In 0.20.9 it still sadly fails :(

[2017-06-01 13:25] davidkpiano commented on #98
Try pinning the version:

[code]

[2017-06-01 15:41] mike-kaufman commented on #115
Thanks for reporting this @hbakhtiyor.  Currently, we don't support node 8.0.  We do support node 4.x through 7.x inclusive though.

We'll let you know when we have things running smoothly on node 8.

[2017-06-05 18:28] mike-kaufman commented on #113
Fix for this is availabe on NPM now with glimpse version 0.21.5.

[2017-06-05 18:28] #113 closed

[2017-06-05 18:28] mike-kaufman commented on #112
Fix for this is availabe on NPM now with glimpse version 0.21.5.

[2017-06-05 18:28] #112 closed

[2017-06-05 18:29] mike-kaufman commented on #107
Fix for this is availabe on NPM now with glimpse version 0.21.5.

[2017-06-05 18:29] #107 closed

[2017-06-05 18:29] mike-kaufman commented on #104
Fix for this is availabe on NPM now with glimpse version 0.21.5.

[2017-06-05 18:29] #104 closed

[2017-06-05 18:30] mike-kaufman commented on #98
Fix for this is availabe on NPM now with glimpse version 0.21.5.

[2017-06-05 18:30] #98 closed

[2017-06-05 18:31] mike-kaufman commented on #94
@christophersw  - we have a fix for this now in NPM.  I'm going to close this issue.  Please let us know if you have any more problems.

[2017-06-05 18:31] #94 closed

[2017-06-05 18:31] aautio commented on #104
Excellent, thanks!

[2017-06-05 18:33] mike-kaufman commented on #17
Fix for this is availabe on NPM now with glimpse version 0.21.5.

[2017-06-05 18:33] #17 closed

[2017-06-05 18:34] mike-kaufman commented on #21
Closing this,  Been fixed a while & we don't support IE 11.

[2017-06-05 18:34] #21 closed

[2017-06-05 18:34] #20 closed

[2017-06-05 19:31] mike-kaufman commented on #106
@bonesoul - two requests if you don't mind:

1.  We just pushed up a new release onto npm (version 0.21.5).  If you could give this a try at some point & let us know if you're still seeing these errors?

2.  If not if you could provide any additional context on what's happening here.  E.g., are you using something like redis, mysql or postgres?  A specific promise library?

[2017-06-06 06:39] julianfrank opened #116 "Glimpse (Warning OlderUnsupportedPackageRequired): Glimpse does not support version 2.3.3 of debug."
I'm getting the error
[code]
The URL unfortunately has no help on what needs to be done...

What am I supposed to do when this error happens?

[2017-06-06 11:15] bonesoul commented on #106
using;
* mongodb 3.4.x
* node 8.0.0
* using bluebird as promise library.

i'll try the new version now and report the outcome.

[2017-06-06 12:09] bonesoul commented on #115
same error.

[2017-06-06 17:05] mike-kaufman commented on #116
Hey @julianfrank - can you update to version 2.6.x of Debug?  We have proxies for it, but we haven't verified it on older versions.

Thanks for reporting this.  We'll fix up the error message here so it is more actionable.

[2017-06-06 17:09] mike-kaufman opened #117 "Deep link to https://github.com/Glimpse/Home#package--version-support is broken"
When someone uses a module that is older/newer than what our proxies are tested against, we spit out an warning (see #116).  The deep link URL is broken.  Need to do the following:

  - [ ] Move the "supported version" info into node.getglimpse.com.
  - [ ] update the URL.

[2017-06-08 21:19] serge1peshcoff opened #118 "TypeError: Cannot assign to read only property 'createGzip' of object '#<Object>'"
I'm facing this error on server startup, the app just crashes and that's it:

[code]

Node 8.1.0, Xubuntu Studio 17.04 Zesty x64.
Can provide any necessary information if needed, just ask.

[2017-06-08 21:20] serge1peshcoff commented on #118
Whoops, just noticed it's a duplicate, sorry for that.

[2017-06-08 21:20] #118 closed

[2017-06-10 00:53] dcworldwide commented on #93
Thanks for posting the detailed release notes, this is really helpful.

[2017-06-11 10:18] nikmd23 commented on #93
No problem @dcworldwide!

We'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:30] nikmd23 commented on #108
Hi @BlueHatbRit

We'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:31] nikmd23 commented on #118
No problem @serge1peshcoff!

We'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:31] nikmd23 commented on #112
Hi @NilsFrkal!

We'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:32] nikmd23 commented on #116
Also, on a side note @julianfrank, we'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:34] nikmd23 commented on #100
Hi @burkhardr and/or @hardchor! 😉

We'd also love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:34] serge1peshcoff commented on #118
@nikmd23 well I'm not using it yet because of the lack of Node.js v8 support :D
But when I'll use it, I'd definitely look into it.

[2017-06-11 10:37] nikmd23 commented on #114
Thanks for this report @japrescott

We'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-11 10:50] BlueHatbRit commented on #108
Hi @nikmd23, I'd love to but I'm afraid I'm heading to Hong Kong for a week tomorrow and won't be around until about the Friday after I get back. Am I able to pick a slot just after then?

[2017-06-12 08:44] AdriVanHoudt commented on #110
I don't know how Glimpse does tracing but just general info about mysql, redis, ... query timing with query info would be very useful.
I guess if you do some patching you could do plugin initialization timings as well.
Just in general whatever you expose of express, expose the same thing from hapi. Not sure if there is a list somewhere, I could help map the express stuff to hapi if you want.
And o

[2017-06-12 09:12] hardchor commented on #100
@nikmd23 I've already had a chat with @avanderhoorn a few weeks ago 😃

[2017-06-19 17:59] dj-hedgehog opened #121 "Use Glimpse with separate frontend and backend procceses?"
I would like to use Glimpse for multiple projects. There are 2 different setups:

1. frontend served (mainly) statically via Express app which reverse proxies request to the backend (Express.js node process).

2. frontend served statically via Nginx reverse proxying requests to the backend (Express.js node process)

Is it possible to use Glimpse with this setup at all? In case 1 it would only cont

[2017-06-19 18:44] mike-kaufman commented on #121
Hi @dj-hedgehog -

For 1), check out the write-up [here](http://node.getglimpse.com/docs/user-guide/glimpse-architecture/#multiple-processes-sharing-a-single-glimpse-server), which explains how to set glimpse to work across multiple node processes.  The end result is in when you look at the glimpse UI, you'll be able to see details for requests into both your front-end & backend.

For 2), you can

[2017-06-19 20:59] avanderhoorn commented on #121
@dj-hedgehog please do let us know how you go. We are very keen to see how people fine this setup and any feedback you may have. So please let us know when you have a chance to try it out!

[2017-06-19 21:01] nikmd23 commented on #108
Of course! Enjoy your trip and we'll chat later.

[2017-06-20 18:30] replicat0r opened #122 "Initializing Glimpse in projects break aws-sdk S3"
First of all, amazing work! =)

I have found glimpse to be immensely helpful and a incredible tool! However recently I discovered that apparently Glimpse breaks my aws-sdk s3 code. I originally submitted a bug to the aws-sdk team on github, but one of their member pointed out that one of my dependency may be consuming the data. he stated that If there are any callbacks listening for an HTTP stream

[2017-06-20 18:33] mike-kaufman commented on #122
@replicat0r  - get the latest version of glimpse (version 0.21.5).  This issue should be fixed there.

Thanks.  Tell your friends. :)

[2017-06-20 18:34] mike-kaufman commented on #122
dup of #113.

[2017-06-20 18:34] #122 closed

[2017-06-20 19:28] nikmd23 commented on #122
Thanks for this report @replicat0r!

We'd love to have a chat with you about how you're using Glimpse, what's useful and what isn't. It shouldn't take more than 30 mins and there's no need to prepare in advance. If you're interested, just pick a time slot over at https://calendly.com/nikmd23/30min

Thanks!

[2017-06-20 20:46] avanderhoorn commented on #122
Note, if you are using >= `21.5` and still have the issue let us know.

[2017-06-28 01:57] mike-kaufman commented on #121
Closing this out.  Please reactivate if you're not unblocked.  :)

[2017-06-28 01:57] #121 closed

[2017-06-30 14:59] mike-kaufman opened #124 "[Home repo]: update screenshot to reflect current UIs"
@legomushroom commented on [Thu Jun 29 2017](https://github.com/Glimpse/Glimpse.Client/issues/1382)

Screenshot in `Readme.md` is deprecated, update it.

[2017-07-10 18:42] legomushroom commented on #124
The `Home` repo uses the `Hero1` image from the website, but since the image has cache-busting hash in its name(e.g. `Hero1.93802.svg`), we just have to make sure the link to the image will still be working(in case the hash will change).

[2017-07-13 16:48] mike-kaufman commented on #116
Glimpse release 0.22.x (coming soon) will support Debug versions 2.0 through 2.7 inclusive, and will fix up the docs around this error.

[2017-07-14 17:05] avanderhoorn commented on #117
@mike-kaufman please verify fix.

[2017-07-14 22:09] #124 closed

[2017-07-14 22:34] #117 closed

[2017-07-14 22:37] mike-kaufman commented on #115
This has been fixed with latest release of glimpse - version 0.22.11.  We also support node 8.0 & 8.1 now (but not async/await).    See release notes here:  http://node.getglimpse.com/updates/v0_22.11/.

Please let us know if you encounter any issues.

[2017-07-14 22:37] #115 closed

[2017-07-14 22:37] mike-kaufman commented on #116
The 0.22.11 release is available on npm now.  Release notes are here: http://node.getglimpse.com/updates/v0_22.11/

[2017-07-14 22:37] #116 closed

[2017-07-18 11:06] danielcrisp opened #127 "Request entity too large - config setting doesn't help"
I am getting the following error in the terminal when trying to run Glimpse on my project.

[code]

This matches a `413 Payload too large` error in a request to the `message-ingress` endpoint that I can see in the DevTools network panel.

I can see the original POST request in the Glimpse Client and the response body is indeed huge: 396989 bytes! This is a mock response and the size is correct - i

[2017-07-18 15:00] mike-kaufman commented on #127
Thanks for opening the issue @danielcrisp.  Are you running mongodb?  With release 0.22.11 we started capturing data passed to mongo DB (documents on insert commands, queries objects and update objects).  We have a bug where we're not truncating captured data & this can result in the errors you describe.  We should have a fix out in a few weeks time.

[2017-07-18 15:36] danielcrisp commented on #127
Hi @mike-kaufman, nope I'm not using mongodb - it's just a simple Express app that mocks our API endpoints with fake JSON data.

I'm familiar with the huge amounts of data that mongodb can expose for a single document though. Is the size the problem? Does your fix address the size for all requests or is it only specific to mongod?

[2017-07-18 15:42] mike-kaufman commented on #127
interesting.  What type of request is generating a body with size of 396989 bytes?  Is this an XHR or fetch request from browser?  Or from a node's HttpClient?

We don't have the fix yet, we just know this is a problem with the mongodb messages we're generating, and we're planning to fix it.

[2017-07-18 15:43] mike-kaufman commented on #127
btw - if you have a simple repro case that we can run, that would be most helpful.  Understand if your code isn't public or your environment is too hard to replicate.

[2017-07-18 15:47] danielcrisp commented on #127
It's an XHR request from the browser, but it's the response body that is huge - not the request body.

Let me see if I can knock up a quick repo...

[2017-07-18 16:24] danielcrisp commented on #127
Ok, try this: https://github.com/danielcrisp/glimpse-example

[2017-07-20 14:26] fubz opened #128 "Glimpse crashes acquiring mac address"
Node Version: v6.11.0
OS: CentOS Linux release 7.2.1511 (Core)  -  Kernel 3.10.0-327.36.2.el7.x86_64

Stack Trace:
[code]

I tried disabling telemetry, but the function still runs.  I ended up modifying the source for now to send an empty string in place of data.

[2017-07-20 15:08] fubz commented on #128
I also go around the issue by adding a value for the `telemetry.identity.salt` entry in glimpse.conf.json

[2017-07-20 17:41] avanderhoorn commented on #128
Thanks for the report. We are currently looking into it and seeing what we can do to fix. You mentioned that you ended up modifying the source. Any chance you can log out what error the callback in the `getMacAddress` function is getting back?

[2017-07-20 18:16] fubz commented on #128
[code]

` Github Debug Request: {"killed":false,"code":127,"signal":null,"cmd":"ifconfig -a || ip link"}`

[code]

My user has access to both of those commands on the system.

[code]

[2017-07-20 19:10] avanderhoorn commented on #128
This is great. Thanks for that. Investigating now.

[2017-07-21 16:19] mike-kaufman commented on #128
@fubz - the error indicates that the process running glimpse doesn't have access to `ip` and `ifconfig` commands on the path, or doesn't have perms to execute those commands.   Two questions:

1.  In output above, did you run all those commands (`ifconfig`, `ip` & `node <your-getmac-script>`) from the same shell?
2.  Can you run `ifconfig -a` and `ip link` from your shell?

[2017-07-22 00:16] mike-kaufman commented on #127
Thanks @danielcrisp  - the repro you put up was perfect.  The issue here is those setting values were never getting communicated to our "Browser Agent"  - the piece of code that runs in your browser and gathers diagnostic data for what's happening client side.  I've got a fix up to address this.  We should have this release next week.

Once the fix is available, you'll need to update  your repro s

[2017-07-24 08:49] danielcrisp commented on #127
Great! Sounds good - when the fix is released I'll update the repo to give it a go.

Thanks Mike,

Dan

[2017-07-26 18:21] lasergoat opened #129 "TypeError: Converting circular structure to JSON at MessageConverter.js:38:43"
Hello,

I'm not sure if this is the result of me logging an Axios response object but it causes my app to crash due to a fatal error.

I'm using Axios which apparently uses some circular structure for response objects - so when I log them, my app crashes.

Here's a minimal example using an express server:

[code]

This produces the following console output:

[code]
^^^ **that is from my console.lo

[2017-07-27 19:35] mike-kaufman commented on #127
ok, version 0.22.15 is now up on npm, and it has the fix for this.  Please let us know if you have any other problems or feedback.

[2017-07-27 19:35] #127 closed, assigned to mike-kaufman

[2017-08-01 18:00] josx commented on #109
it is confusing, there are plenty of people using it without knowing the licenses terms.

Also in the https://www.npmjs.com/package/@glimpse/glimpse page there is no hint about licensing, but you can read the tagline.

[2017-08-08 23:51] mike-kaufman commented on #129
Sorry for the delay here.  There's a fix coming out for this shortly...

[2017-09-08 17:04] MrDesjardins opened #130 "create-react-app and Glimpse cause can't resolve module glimpse-agent-node/release"
We are using https://github.com/Microsoft/TypeScript-React-Starter (2.5.0) who use underneath https://github.com/facebookincubator/create-react-app to handle the boilerplate for one of our projects. The project uses React (15.6.1) and Redux (3.7.2).

The documentation explains three ways to install. However, with the current setup, it seems that only the programmatically one has potential. The ent

[2017-11-13 10:12] avimar opened #132 "[restify] support?"
Hi -- is there any plans for supporting restify?

Restify has [7457 stars](https://github.com/restify/node-restify) on github right now, so it's popular.

Thanks!!

[2017-11-16 17:54] lasergoat opened #133 "fatal error - ""could not find associated master data"
Thank you for taking the time to report your feedback!

**steps:**

1. create an axios request to some webservice
2. set a timeout on the axios config
3. get the below error...

example code:

[code]

- The version of Node that you are experiencing the problem on.
    - **v6.2.2**
- The operating system, browser and browser version you are experiencing the problem on.
    - **high sierra 10.13.1**

[2018-02-05 10:28] TomFrajer opened #134 "How can I get Glimpse to work with Vue.js/Nuxt.js ?"
Hi,
Im using Nuxt.js (based on Vue.js) and I tried to install Glimpse programatically but I got some dependency errors that Im unable to solve.

npm install @glimpse/glimpse
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.3 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os"

[2018-02-21 11:57] eusorov opened #135 "support for mongodb version 3"
I get support error if I use latest mongoose 5 which uses mongodb version 3.

glimpse supports only mongodb version 2

[2018-09-13 12:12] #135 closed, assigned to nobody